<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-6 col-sm-10">
      <ul class="pagination">
        <li class="col-md-4" ng-repeat="actor in actorsCtrl.actors">
          <div class="panel panel-primary">
            <img class="img-responsive img-thumbnail" ng-src="{{actor.thumbnail}}"></img>
            <p class="text-primary text-small text-center">{{actor.name}}</p>
          </div>
        </li>
      </ul>
     </div>
     <div class="col-md-4 col-sm-1"></div>
  </div>
</div>