<div class="container" ng-controller="TypeAheadCtrl">
  <div class="col-sm-6 col-sm-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">Artist information</div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="industryName" class="col-sm-4 control-label">Name in industry</label>
             <div class="col-sm-8" >
              <typeahead items="items" prompt="Name in Industry " artist="industryName" url="thumbnail" model="artist"/></typeahead>
            </div>
          </div>
          <div class="form-group">
            <label for="firstName" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="artist.firstName" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="artist.lastName" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <label for="thumbnail" class="col-sm-4 control-label">Thumbnail Url</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="artist.thumbnail" placeholder="Thumbnail Url">
            </div>
          </div>
          <div class="form-group">
            <label for="nicknames" class="col-sm-4 control-label">Nick Names</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="artist.nicknames" placeholder="Nick Names">
            </div>
          </div>
          <div class="form-group">
            <label for="dob" class="col-sm-4 control-label">Date of birth</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="artist.dob" placeholder="dd/mm/yyyy">
            </div>
          </div>
          <button class="btn btn-primary pull-right" ng-click="submit(artist);artist={}">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>