<div class="container">
  <ul class="pagination">
    <li class="col-xs-4 col-md-2 nopadding" ng-repeat="artist in artists | filter:search.text | limitTo : limit">
      <div class="panel panel-primary">
        <a ng-href="#artists/{{artist.id}}/movies" ng-click="search.text=''">
          <img class="img-responsive" ng-src="{{getUrl(artist)}}" ng-alt="Description"></img>
        </a>
        <p class="text-primary text-small text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{artist.industryName}}</p>
      </div>
    </li>
  </ul>
  <div class="container-fluid">
    <button type="button" ng-show="limit < (artists | filter:search.text).length" class="btn btn-primary btn-block" ng-click="expand()">Load More</button>
  </div>
</div>
