<div class="panel panel-primary">
  <!-- panel heading goes here -->
  <div class="panel-heading">Clip thumbnail selection</div>
  <!-- panel body goes here -->
  <div class="panel-body">
    <h4 class="text-warning nopadding">Thumbnails from movie in the order they appear in movie</h4>
  <div class="row">
    <ul class="pagination">
      <div class="col-sm-1">
       <li class="pull-right nopadding"><a class="btn" href ng-disabled="isFirstPage()" ng-click="prevPage()">&laquo;</a></li>
      </div>
      <li class="col-sm-2 nopadding" ng-repeat="i in [] | range: movie.thumbnailCount | pagination : currentPage * pageSize | limitTo: pageSize">
    <img class="img-responsive nopadding" ng-click="select('https://s3.amazonaws.com/imctube/movies/' + movie.videoId + '/thumbnails-' + i + '.jpeg', clip)" ng-src="https://s3.amazonaws.com/imctube/movies/{{movie.videoId}}/thumbnails-{{i}}.jpeg"></img>
      </li>
      <div class="col-sm-1">
        <li class="pull-left no-padding"><a class="btn" href ng-disabled="isLastPage()" ng-click="nextPage()">&raquo;</a></li>
      </div>
    </ul>
  </div>

  <h4 class="text-warning nopadding">Selected clip thumbnails</h4>
  <div class="row">
    <ul class="pagination">
      <li class="col-sm-1"></li>
      <li class="col-sm-2 nopadding" ng-repeat="thumbnail in clip.thumbnails track by $index">
        <div>
          <a class="pull-right" href ng-click="deleteMe()">x</a>
        </div>
        <img class="img-responsive nopadding" ng-click='select(thumbnail)' ng-src="{{thumbnail}}"></img>
      </li>
    </ul>
  </div>
  </div>
</div>
