<!-- Capture actors here -->
<div class="panel panel-primary">
  <div class="panel-heading"> Add the actors in the clip </div>
  <div class="panel-body">
  <ul><li ng-repeat="actor in movieCtrl.currentClip.actors">{{actor}}</li></ul>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-1">
        <input type="text" class="form-control" ng-model="clipActors.newActor"></input>
      </div>
      <button type="button" class="btn btn-primary" ng-click="clipActors.addActor(movieCtrl.currentClip)">Add Actor</button> 
    </div>
  </form>
</div>
<!-- end capturing actors -->

<!-- Capture singers here -->
<div class="panel panel-primary">
  <div class="panel-heading"> Add the singers if the clip is a song </div>
  <div class="panel-body">
  <ul><li ng-repeat="singer in movieCtrl.currentClip.singers">{{singer}}</li></ul>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-1">
        <input type="text" class="form-control" ng-model="clipActors.newSinger"></input>
      </div>
      <button type="button" class="btn btn-primary" ng-click="clipActors.addSinger(movieCtrl.currentClip)">Add Singer</button> 
    </div>
  </form>
</div>
<!-- end capturing singers -->