<section id="wizard">
  <div id="rootwizard">
    <ul ng-show="false">
      <li><a href="#dialogues" data-toggle="tab"><span class="label"></span>Dialogues</a></li>
      <li><a href="#thumbnails" data-toggle="tab"><span class="label"></span>Thumbnails</a></li>
    </ul>
  
    <!-- content for tabs goes here -->
    <div class="tab-content">
      <!-- Clip info goes here -->
      <div class="tab-pane"  id="dialogues"> 
        <clip-info></clip-info>
      </div>

      <!-- Clip thumbnails goes here -->
      <div class="tab-pane"  id="thumbnails">
        <clip-thumbnails clip="currentClip" movie="movie" prev-clip="prevClip"></clip-thumbnails>
        <div class="panel panel-primary">
          <div class="panel-heading">Select the kind of clip</div>
          <div class="panel-body">
            <label>
              <input type="checkbox" ng-model="currentClip.isComedy">Comedy
            </label><br/>
            <label>
              <input type="checkbox" ng-model="currentClip.isSong">Song
            </label><br/>
            <label>
              <input type="checkbox" ng-model="currentClip.isFight">Fight
            </label><br/>
            <label>
              <input type="checkbox" ng-model="currentClip.isTitles">Titles
            </label><br/>
            <label>
              <input type="checkbox" ng-model="currentClip.isClimaxScene">Climax Scene
            </label><br/>
          </div>
        </div>
        <div ng-show="isLast5Min()" class="checkbox">
          <label><input type="checkbox" ng-model="lastClipOfMovie">Is last clip of movie</label>
        </div>
        <div class="container-fluid" style="padding-right:0px;padding-left:0px">
          <button ng-disabled="!isValidClip()" type="button" class="btn btn-primary btn-block" ng-click="submitClip()">Submit Clip</button>
        </div>
      </div>
    </div>

   <!--  <ul class="pager wizard">
      <li class="previous first" style="display:none;"><a href="#clipify/{{movie.id}}">First</a></li>
      <li class="previous"><a href="#clipify/{{movie.id}}">Previous</a></li>
      <li class="next last" style="display:none;"><a href="#clipify/{{movie.id}}">Last</a></li>
      <li class="next"><a href="#clipify/{{movie.id}}">Next</a></li>
    </ul> -->
  </div>
</section>
