<div class="panel panel-primary">
  <!-- panel heading goes here -->
  <div class="panel-heading">Capture clip timings</div>

  <!-- panel body goes here -->
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="startTime" class="col-md-2 control-label">Start Time</label>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="clip.startTime" disabled>
        </div>
        <button type="button" class="btn btn-primary" ng-click="captureClipStartTime()">Capture</button>
      </div>
      <div class="form-group">
        <label for="endTime" class="col-md-2 control-label">End Time</label>
        <div class="col-md-4">
          <input type="text" class="form-control" ng-model="clip.endTime" disabled>
        </div>
        <button type="button" class="btn btn-primary" ng-click="captureClipEndTime()">Capture</button>
      </div>
    </form>
  </div>
</div>

<!-- capture clip information -->
<div class="panel panel-primary">
  <div class="panel-heading">Describe what is happening in the clip with your own words</div>
  <div class="panel-body">
    <form class="form-group">
      <label for="description" class="col-md-2 control-label">Description</label>
        <textarea class="col-md-10" rows=4></textarea>
      </div>
    </form>
  </div>
</div>
