<div class="panel panel-primary">
  <!-- panel heading goes here -->
  <div class="panel-heading">Clip thumbnail selection</div>
  <!-- panel body goes here -->
  <div class="panel-body">
    <h4 class="text-warning nopadding">Thumbnails from movie in the order they appear in movie</h4>
  <div class="row" ng-init="init(movie.thumbnailCount, prevClip)">
    <ul class="pagination">
      <div class="col-sm-1">
       <li class="pull-right nopadding"><a class="btn" href ng-disabled="isFirstPage()" ng-click="prevPage()">&laquo;</a></li>
      </div>
      <li class="col-sm-2 nopadding" ng-repeat="i in [] | range: movie.thumbnailCount | pagination : currentPage * pageSize | limitTo: pageSize">
    <img class="img-responsive nopadding" ng-click="select('resources/movies/' + movie.videoId + '/thumbnails-' + i + '.jpeg', currentClip)" ng-src="resources/movies/{{movie.videoId}}/thumbnails-{{i}}.jpeg"></img>
      </li>
      <div class="col-sm-1">
        <li class="pull-left no-padding"><a class="btn" href ng-disabled="isLastPage()" ng-click="nextPage(movie, prevClip)">&raquo;</a></li>
      </div>
    </ul>
  </div>

  <h4 class="text-warning nopadding">Selected clip thumbnails</h4>
  <div class="row">
    <ul class="pagination">
      <li class="col-sm-1"></li>
      <li class="col-sm-2 nopadding" ng-repeat="thumbnail in currentClip.thumbnails">
      <img class="img-responsive nopadding" ng-click='select(thumbnail, currentClip)' ng-src="{{thumbnail}}"></img>
      </li>
    </ul>
  </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Describe what is happening in the clip with your own words</div>
  <div class="panel-body">
    <form class="form-horizontal">
      <label for="description" class="col-md-3 control-label">Description</label>
      <textarea ng-model="currentClip.description" class="col-md-9" rows=4></textarea>
    </form>
  </div>
</div>
<div ng-show="isLast5Min()" class="checkbox">
  <label><input type="checkbox" ng-model="lastClipOfMovie">Is last clip of movie</label>
</div>
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
  <button type="button" class="btn btn-primary btn-block" ng-click="submitClip()">Submit Clip</button>
</div>
