<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Add artists appeared in the clip and their dialogues.</h4>
    <span sytle="right">Clip Duration: {{duration | date:'mm:ss'}}</span>
  </div>

  <div class="panel-body" ng-controller='TypeAheadCtrl'>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="artist" class="col-md-3 control-label">Artist</label>
        <div class="col-md-8">
          <typeahead items="items" prompt="Artist name" artist="industryName" url="thumbnail" model="artist" on-select="updateArtist(dialogue)"/></typeahead>
        </div>
      </div>
      <div class="form-group">
        <label for="text" class="col-md-3 control-label">Dialogue text</label>
        <div class="col-md-9">
          <textarea class="form-control" placeholder="This can be empty if artist dont have any dialogue." ng-model="dialogue.text" rows=3></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="container-fluid">
          <button type="button" class="btn btn-primary btn-block" ng-click="addDialogue(currentClip);artist={};">Add Dialogue</button>
        </div>
      </div>
    </form>

    <div ng-hide="edit" ng-repeat="dialogue in currentClip.dialogues">
      <blockquote class="blockquote">
        <p>{{dialogue.text}}</p>
        <footer>{{dialogue.artist.industryName}}</footer>
      </blockquote>
    </div>

    <div ng-show="edit" ng-repeat="dialogue in currentClip.dialogues">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="form-group">
            <label for="artist" class="col-md-3 control-label">Artist</label>
            <div class="col-md-8" ng-controller='TypeAheadCtrl'>
              <typeahead items="items" prompt="Artist name" artist="industryName" url="thumbnail" model="dialogue.artist" on-select="updateArtistId(dialogue)"/></typeahead>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="text" class="col-md-3 control-label">Dialogue text</label>
          <div class="col-md-9">
            <textarea class="form-control" ng-model="dialogue.text" rows=4></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>