<!--
<clip-dialogues></clip-dialogues>
-->
<clip-artists></clip-artists>
  <div class="panel panel-primary">
    <div class="panel-heading">Describe what is happening in the clip with your own words</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <label for="description" class="col-md-3 control-label">Description</label>
        <textarea ng-model="currentClip.description" class="col-md-9" rows=4></textarea>
      </form>
    </div>
  </div>

<div class="container-fluid" style="padding-right:0px;padding-left:0px">
  <button type="button" class="btn btn-primary btn-block" ng-click="captureClipEndTime(movie.player, currentClip)">End clip here</button>
</div>
