<!-- Capture artists here -->
<div class="panel panel-info">
  <div class="panel-heading"> Add the artists in the clip </div>
  <div class="panel-body">
  <ul>
    <li ng-repeat="artist in movieCtrl.currentClip.artists">
       <p>{{artist.firstName}}</p>
    </li>
   </ul>
  </div>
  <form class="form-horizontal">
    <div class="form-group" ng-controller='TypeAheadController'>
      <div class="col-md-8 col-md-offset-1">
        <typeahead items="items" prompt="Artist name" artist="firstName" url="thumbnail" model="artist" on-select="onItemSelectedToList(movieCtrl.currentClip)"/></typeahead>
      </div>
    </div>
  </form>
</div>
<!-- end capturing artists -->
