<div class="container" ng-controller="ReviewClipListCtrl">
  <div>
    <ul class="pagination">
      <li class="col-md-2 nopadding" ng-repeat="clip in clips">
        <div class="panel panel-primary">
          <div style="position: relative">
          <a href="#review/clips/{{clip.clipId}}">
            <div style="display: block;position: relative;">
            <span >
              <img class="img-responsive" ng-src="{{clip.thumbnails[0]}}"></img>
            </span>
            </div>
             <span class="video-time" aria-hidden="true">{{getDuration(clip) | date: 'mm:ss'}}</span>
          </a>
          </div>
          <p class="text-primary text-small text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{clip.movieName}}
          <span class="btn btn-warning btn-sm pull-right" ng-click=open(clip)><strong>P</strong><span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
