<nav class="bs-docs-sidebar affix">
  <ul class="nav bs-docs-sidenav" ng-init="sideBar.init('actors')">
    <li data-ng-class="{'active' : sideBar.isSet('actors')}" ng-click="sideBar.setTab('actors')"><a href="#/">Actors</a></li>
    <li data-ng-class="{'active' : sideBar.isSet('singers')}" ng-click="sideBar.setTab('singers')"><a href="#singers/">Singers</a></li>
    <li data-ng-class="{'active' : sideBar.isSet('movies')}" ng-click="sideBar.setTab('movies')"><a href="#movies/">Movies</a></li>
    <li data-ng-class="{'active' : sideBar.isSet('clips')}" ng-click="sideBar.setTab('clips')"><a href="#clips/">Clips</a></li>
    <li data-ng-class="{'active' : sideBar.isSet('clipify')}" ng-click="sideBar.setTab('clipify')"><a href="#clipify/">Clipify</a></li>
    <li data-ng-class="{'active' : sideBar.isSet('addmovie')}" ng-click="sideBar.setTab('addmovie')"><a href="#addmovie/">Add Movie</a></li>
    <li data-ng-class="{'active' : sideBar.isSet('addactor')}" ng-click="sideBar.setTab('addactor')"><a href="#addactor/">Add Actor</a></li>
  </ul>
</nav>