<div class="container">
  <ul class="pagination">
    <li class="col-xs-6 col-md-3 nopadding" ng-repeat="clip in clips">
      <div class="panel panel-primary">
        <div style="position:relative">
          <a href="#clips/{{clip.clipId}}">
            <div style="display: block;position: relative;">
              <span><img class="img-responsive" ng-src="{{clip.thumbnails[0]}}"></img></span>
            </div>
            <span class="video-time" aria-hidden="true">{{getDuration(clip) | date: 'mm:ss'}}</span>
          </a>
        </div>
         <span class="view-count">{{clip.viewCount}} Views</span>
        <!-- <blockquote><pre style="color:white;background-color:#439ec9"> -->
        <blockquote class="video-info">
          <p class="movie-name">{{clip.movieName}}</p>
          <p class="video-des">{{clip.description}}</p>
        </blockquote>
      </div>
    </li>
  </ul>
</div>
</div>