<div class="col-md-12">
  <input type="text" class="form-control" ng-model="model.industryName" placeholder="{{prompt}}" ng-keydown="selected=false" ng-change="changed()"/><br/>
</div>
<div class="col-md-12" ng-hide="!model.industryName.length">
  <div ng-repeat="item in items | filter:model| limitTo : 10 track by $index"
      ng-click="handleSelection(item)"
      style="cursor:pointer"
      ng-class="{active: isCurrent($index)}"
      ng-mouseenter="setCurrent($index)">
      <div class="row">
        <div class="col-md-2">
          <img class="img-responsive img-circle" ng-src="{{getUrl(item)}}"></img>
        </div>
        <div class="col-md-9">
          <p>{{item[artist]}}</p>
        </div>
      </div>
  </div>
</div>