<div class="embed-responsive embed-responsive-16by9">
  <youtube-video video-id="movie.videoId" player="movie.player"></youtube-video>
</div>

<div class="row">
  <div class="container-fluid" >
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="pauseVideo(movie.player)">pause</button>
      <button class="btn btn-primary" ng-click="playVideo(movie.player)">play</button>
      <button class="btn btn-primary" ng-click="backward(movie.player)">-10s</button>
      <button class="btn btn-primary" ng-click="forward(movie.player)">+10s</button>
      <button class="btn btn-primary" ng-click="playFromMovieStart(movie.player)">movieStart</button>
      <button class="btn btn-primary" ng-disabled="!currentClip.startTime" ng-click="playFromClipStart(movie.player, currentClip)">clipStart</button>
    </div>
  </div>
</div>
